*, ::after, ::before {
    box-sizing: border-box;
}
img {
    display: block;
        width: 100%;
        height: auto;
        margin: 0% 
    }
body {
    margin: 0%;
    padding: 0;
    font-family: "Noto Sans JP";
    color: #55504A;
}
a {
    text-decoration: none;
    color: #55504A;
}





