.footer__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #55504A;
    padding-top: 14%;
    
}
@media(min-width: 835px) {
    .footer__container {
        aspect-ratio: 1440 / 185;
        padding: 0;
        padding-top: 5%;
    }
}

@media(min-width: 835px) {
    .footer-top {
        display: flex;
        flex-direction: row;
        width: 75%;
        margin: 0 auto;
        justify-content: space-between;
        
    }
}
.footer-contents-icon {
    padding-top: 10%;
}
@media(min-width: 600px) {
    .footer-contents-icon {
        display: flex;
        flex-direction: row;
        width: 65%;
        justify-content: space-between;
        padding: 10% 0;
        margin: 0 auto;
    }
}
@media(min-width: 835px) {
    .footer-contents-icon {
        padding: 0%;
        width: 40%;
        margin: 0%
        
    }
}

.footer-logo {
    width: 254.07px;
    height: 28px;
    justify-self: center;
}



@media(min-width: 835px) {
    .footer-logo {
        justify-self: unset;
    }
}

.footer-contents {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 1rem;
    height: auto;
   width: 100%;
    padding-bottom: 5%;
}

@media(min-width: 600px) {
    .footer-contents {
        flex-direction: row;
       gap: 2rem;
      
        padding: 0%;
        
    }
}

@media(min-width: 835px) {
    .footer-contents {
        gap: 10%;
    }
}

.footer-item {
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

}

.icon__container {
    display: flex;
    justify-content: space-between;
    width: 36vw;
    justify-self: center;
}

@media(min-width: 600px) {
    .icon__container { 
       width: 15vw;
       justify-self: unset;
    }
}
@media(min-width: 835px) {
    .icon__container {
        width: 132px;
    }
}

.icon {
    width: 28px;
    height: 28px;
    margin: 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    width: 32vw;
    text-align: center;
    margin: 0 auto;
    padding-top: 14%;
    padding-bottom: 5%;
}
@media(min-width: 600px) {
    .copyright {
        padding-top: 0;
    }

}
@media(min-width: 835px) {
    .copyright {
        padding-top: 3%;
        padding-bottom: 1%;
    }
}
