.footer {
    width: 100%;
    aspect-ratio: 375 / 387;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #55504A;
    align-items: center;
    
}

@media(min-width: 600px) {
    .footer {
        aspect-ratio: 834 / 275;
    }
}

@media(min-width: 835px) {
    .footer {
        aspect-ratio: 1440 / 185;
        flex-direction: row;
    }
}
.footer__container {
    position: absolute;
    top: 15%;

}
@media(min-width: 600px) {
    .footer__container {
        top: 20%;
    }
}
@media(min-width: 835px) {
    .footer__container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        gap: 10%;
        width: 75%;
        
        padding-bottom: 2%;
    }
}
@media(min-width: 600px) {
    .footer-contents-icon {
        display: flex;
        flex-direction: row;
        padding: 12% 0;
        gap: 10%;
    }
}
@media(min-width: 835px) {
    .footer-contents-icon {
        padding: 0%;
        width: 38vw;
        gap: auto;
    }
}

.footer-logo {
    width: 254.07px;
    height: 28px;
    justify-self: center;
}



@media(min-width: 835px) {
    .footer-logo {
        justify-self: unset;
    }
}

.footer-contents {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 1rem;
    height: auto;
    padding-top: 20%;
    padding-bottom: 10%;
}

@media(min-width: 600px) {
    .footer-contents {
        flex-direction: row;
        width: 45vw;
      
        padding: 0%;
        
    }
}

@media(min-width: 835px) {
    .footer-contents {
        gap: 10%;
    }
}

.footer-item {
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

}

.icon__container {
    display: flex;
    justify-content: space-between;
    width: 36vw;
    justify-self: center;
}

@media(min-width: 600px) {
    .icon__container { 
       width: 15vw;
    }
}


.icon {
    width: 28px;
    height: 28px;
    margin: 0;
}

.copyright__container {
    position: absolute;
    bottom: 5%;
    width: 32vw;
    text-align: center;
}

@media(min-width: 835px) {
    .copyright__container {
        left: 50%;
        transform: translateX(-50%);
    }
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 2%;
}