.swiper-slide {
    position: relative;
    width: 100%;
    
    flex-shrink: 0;

}

.main-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 374 / 640;
    object-fit: cover;
}

@media(min-width: 600px) {
    .main-img {
        aspect-ratio: 834 / 835;
    }
}

@media(min-width: 836px) {
    .main-img {
        aspect-ratio: 1440 / 835;

    }
}

.main-title {
    width: 83%;
    position: absolute;

    height: auto;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    text-align: center;
    padding: 2% 4%;
    font-weight: 700;
    font-size: 28px;
}
@media(min-width: 600px) {
    .main-title {
        width: 61%;
        font-size: 48px;
    }
}
@media(min-width: 1050px) {
    .main-title {
        width: 38%;
        
    }
}


@media(min-width: 1050px) {
    .main-title {
        font-size: 48px;
    }
}

.raise-home {
    aspect-ratio: 161 / 57;
    width: 43vw;
    position: absolute;
    top: 55%;
    left: 50%;
    rotate: 11.82 deg;


}

@media(min-width: 600px) {
    .raise-home {
        width: 41vw;
    }
}

@media(min-width: 836px) {
    .raise-home {
        width: 23vw;
    }
}

.swiper-pagination {
    bottom: 10%;
    left: 50%;
}

.swiper-pagination-bullet {
    bottom: 5%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #55504A;
    opacity: 1;
}

@media(min-width: 600px) {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}

.swiper-pagination-bullet-active {
    background: #FFFFFF !important;
}

.scroll-area {
    position: absolute;
    left: 2%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

}

@media(min-width: 834px) {
    .scroll-area {
        bottom: 25%;
    }
}

.scroll {
    font-family: 'Gtuppo';
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;

}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
    }
}

@media(min-width: 600px) {
    .scroll {
        left: 2%;
    }
}

.swiper-scrollbar {
    position: relative;

}

.swiper-scrollbar::before {
    animation: scroll 2s infinite;
    background-color: #FFFFFF;
    content: "";

    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;


    width: 1px;
    height: 100px;
    z-index: 10;
}

@media(min-width: 834px) {
    .swiper-scrollbar::before {
        height: 160px;
    }
}