.section__title {
    font-family: "Gruppo";
    font-size: 17vw;
    font-weight: 400;
    color: #D5DDED;
    padding: 8% 0;
    margin: 0;
    text-align: start;
}

.works__section .section__title,
.contact__section .section__title {
    z-index: 10;
    margin: 0%;
    color: #A09A93;
}
.works__section .section__title {
    position: absolute;
    top: 0;
    left: 5%;
}

@media(min-width: 836px) {
    .section__title {
        font-size: 11vw;
        padding: 5% 0;
    }
}

.section-sub__title {
    font-weight: 500;
    font-size: 28px;
    text-align: start;
    margin: 0;
}
.service-visual .section-sub__title {
    text-align: center;
}

@media(min-width: 600px) {
    .section-sub__title {
        font-size: 32px;
    }
}


.company-contents .section-sub__title {
    margin-top: 10%;
}
@media(min-width: 600px) {
    .company-contents .section-sub__title {
        margin: 0;
    }
}

@media(min-width: 600px) {
    .sp-only {
        display: none;
    }
}

.service-visual {
    padding: 0 5%;
    margin-bottom: 10%;
    width: 100%;
    justify-self: center;
}

@media(min-width: 600px) {
    .service-visual {
        margin-bottom: 10%;
        justify-content: center;
        overflow: hidden;
    }
}

@media(min-width: 1050px) {
    .service-visual {
        width: 75%;
        padding: 0;
    }
}

.section__text {
    font-size: 16px;
    text-align: center;
}

@media(min-width: 836px) {
    .section__text {
        padding: 3% 20%;
    }
}

.service__list {
    padding: 0;
    
}

@media(min-width: 600px) {
    .service__list {
        display: flex;

        max-width: 770px;

        aspect-ratio: 770 / 210.24;
        padding: 0%;
        gap: 3%;
    }
}

@media(min-width: 836px) {
    .service__list {
        max-width: 1080px;
    }
}

.service__item {
    position: relative;

    width: 100%;
    /*margin: 5% 0;*/
}
.service__item:first-child {
    margin-bottom: 5%;
}

@media(min-width: 600px) {
    .service__item {
        display: flex;
    }
}
@media(min-width: 600px) {
    .service__item:first-child {
        margin-bottom: 0;
    }
}


@media(min-width: 600px) {
    .service-img {
        max-width: 373px;
    }
}

@media(min-width: 836px) {
    .service-img {
        max-width: 520px;
    }
}

.service-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;

    height: auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 2%;
    margin: 0;

    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

@media(min-width: 835px) {
    .service-title {
        font-size: 28px;
    }
}


.works-visual {
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    aspect-ratio: 375 / 450;
}

@media(min-width: 600px) {
    .works-visual {
        /*display: block;
        justify-content: center;*/
        aspect-ratio: 834 / 667;
    }
}

@media(min-width: 835px) {
    .works-visual {
        aspect-ratio: 1440 / 791;
    }
}

.works-visual::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    aspect-ratio: 834 / 667;
    pointer-events: none;
}
@media(min-width: 600px) {
    .works-visual::before {
        height: 120%;
    }
}

.works_0 {
    position: absolute;
    inset: 10% 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
@media(min-width: 600px) {
    .workd_0 {
        height: 120%;
    }
}
.works__list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 30%;
    left: 5%;
    padding: 0;
    padding-bottom: 10%;
    z-index: 10;
    width: 95%;
    min-height: auto;
    gap: 4px;

}
.works__list::-webkit-scrollbar {
    height: 10px;
    border-radius: 24px;
}
.works__list::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 24px;
}
.works__list::-webkit-scrollbar-thumb {
    background-color: #F7B000;
    border-radius: 24px;
    
}

.works__list li {
    flex: 0 0 auto;
}

@media(min-width:600px) {
    .works__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        
        gap: 1%;

        overflow: visible;
        width: 90%;
        max-height: 320px;

        aspect-ratio: 770 / 320;
    }
}
@media(min-width: 835px) {
    .works__list {
        width: 74%;
        max-height: 440px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.works-gallery-figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*display: block;*/
}

.works__list li:first-child img {
    width: 180.37px;
    height: 218px;
}
.works__list li:not(:first-child) img {
    width: 345px;
    height: 218px;
}
@media (min-width: 600px) {
    .works__list li:first-child img,
    .works__list li:not(:first-child) img {
        width: 100%;
        height: 100%;
    }
}


@media(min-width: 600px) {
    .works-gallery-figure:first-child {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        /*aspect-ratio: 246.89 / 320;*/
    }
}
@media(min-width: 600px) {
    .works-gallery-figure:not(:first-child) {
        

    }
}




.company__section {
    margin-top: 10%;
}
.company-visual {
    padding: 0 5%;
}

@media(min-width: 600px) {
    .company-visual {
        gap: 3%;
        margin: 0 5%;

        padding: 0%;
        overflow: hidden;
    }
}

@media(min-width: 1050px) {
    .company-visual {

        width: 75%;
        margin: 0 auto;

    }
}

@media(min-width: 600px) {
    .company__container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }
}

@media(min-width: 600px) {
    .company-img {
        aspect-ratio: 560 / 335;
        object-fit: cover;
        min-width: 250px;

    }
}

@media(min-width: 1100px) {
    .company-img {
        max-width: 560px;
    }
}



@media(min-width: 600px) {
    .company-contents {

        margin: 0;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;

    }
}

@media(min-width: 1100px) {
    .company-contents {
        max-width: 560px;
        aspect-ratio: 480 / 330;
    }
}

.company-section-text {
    text-align: start;
    margin: 8% 0;
}

.access__container {
    display: flex;
    margin: 10% 20%;
    flex-direction: column;
    align-content: space-between;
    width: 58vw;
    height: auto;
    gap: 20%;
}

.company-access_container {
    padding: 5% 30%;

    text-align: center;

    border-width: 1px;
    border-style: solid;

}

.company-access {
    color: #55504A;
    font-size: 18px;
    font-weight: 500;
}

.arrow {
    content: "";
    color: #55504A;
    border-width: 1px;

    padding: 0 16%;
}


.contact__section {
    width: 100%;
    padding: 0%;
    /*display: flex;
    justify-content: center;*/
}

.contact-visual {
    position: relative;
    width: 100%;

}

.contact-img {
    aspect-ratio: 375 /547;
    object-fit: cover;
}

@media(min-width: 600px) {
    .contact-img {
        aspect-ratio: 834 / 631;
        min-height: 631px;
    }
}

@media(min-width: 1050px) {
    .contact-img {
        aspect-ratio: 1440 / 631;
    }
}

.contact__container {
    width: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}




@media(min-width: 1050px) {
    .contact__container {
        width: 75%;

    }
}

.contact__content {
    display: flex;
    flex-direction: column;

    padding: 12% 4%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    align-content: space-between;
    align-self: center;

}

@media(min-width: 600px) {
    .contact__content {
        max-width: 600px;
        width: fit-content;
        padding: 5%;

    }
}


.sub-title-contact {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0;

}

@media(min-width: 600px) {
    .sub-title-contact {
        font-size: 36px;
    }
}



.text-contact {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10% 0;
}

.works__section {
    &section--parallax {
        overflow: clip;

        >.works0 {
            scale: 1.25;
        }
    }
}