.section__title {
    font-family: "Gruppo";
    font-size: 64px;
    font-weight: 400;
    color: #D5DDED;
    margin-left: 3%;
    text-align: start;
}

@media(min-width: 600px) {
    .section__title {
        font-size: 160px;
        margin-bottom: 5%;
        overflow: hidden;
    }
}

@media(min-width: 836px) {
    .section__title {
        margin-left: 12%;
    }
}

.section-sub__title {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

@media(mon-width: 600px) {
    .section-sub__title {
        font-size: 32px;
    }
}

@media(min-width: 600px) {
    .sp-only {
        display: none;
    }
}


.service__section {
    padding: 0%;
}

.service-visual {
    margin: 0 3%;
    margin-bottom: 10%;
}

.service-section__text {
    font-size: 16px;
    text-align: center;
}

@media(min-width: 600px) {
    .service-section__text {
        padding: 0 4%;
    }
}

@media(min-width: 836px) {
    .service-section__text {
        padding: 0 20%;
    }
}

@media(min-width: 600px) {
    .service__container {
        display: flex;
        justify-content: center;
        max-width: 770px;
        gap: 3%;
        margin: 0 auto;
    }
}

@media(min-width: 836px) {
    .service__container {
        max-width: 1080px;
    }
}

.service__content {
    position: relative;
    display: grid;
    width: 100%;
}

@media(min-width: 600px) {
    .service__content {
        display: flex;
    }
}

.service-img {
    margin-top: 5%;

}

@media(min-width: 600px) {
    .service-img {
        max-width: 373px;
    }
}

@media(min-width: 836px) {
    .service-img {
        max-width: 520px;
    }
}

.service-text__container {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 49%;

    height: auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 3% 2%;
}

.service-text {
    font-size: 24px;
    font-weight: 500;
    margin: 0%;
    text-align: center;
    width: 100%;
}

.works__section {
    position: relative;
    width: 100%;
    aspect-ratio: 375 /450;
    padding: 0%;
    overflow: hidden;
}

@media(min-width: 600px) {
    .works__section {
        aspect-ratio: 834 / 667;
    }
}

@media(min-width: 835px) {
    .works__section {
        aspect-ratio: 1440 / 791;
    }
}

.works-visual {
    position: relative;
    background-size: cover;
    background-position: center;
}

.works-visual::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);

    z-index: 1;
}

.section__title-lg {

    position: absolute;
    top: 8.8%;
    left: 5%;
    z-index: 10;
}

@media(min-width: 600px) {
    .section__title-lg {
        top: 5%;
    }
}

@media(min-width: 835px) {
    .section__title-lg {
        top: 3%;
        left: 12%;
    }
}

.title-lg {
    font-family: "Gruppo";
    font-size: 64px;
    font-weight: 400;
    color: #A09A93;
    margin: 0%;

}

@media(min-width: 600px) {
    .title-lg {
        font-size: 160px;
    }
}

.works_0 {
    display: grid;
    aspect-ratio: 375 / 450;
    width: 100%;
}

@media(min-width: 600px) {
    .works_0 {
        aspect-ratio: 834 / 667;
    }
}

@media(min-width: 835px) {
    .works_0 {
        aspect-ratio: 1440 / 791;
    }
}

.works_img_container {
    position: absolute;
    display: flex;
    right: -50%;
    margin-left: 3%;
    top: 35%;

    gap: 2%;
    z-index: 10;
}

@media(min-width: 600px) {
    .works_img_container {
        margin: 0 auto;
        max-width: 770px;
        width: 100%;
        right: auto;
        justify-self: center;
        overflow: visible;
    }
}

@media(min-width: 835px) {
    .works_img_container {
        max-width: 1076px;
        top: 30%;
        gap: 1%;
    }
}

.works1_container {
    aspect-ratio: 180.37 / 217.99;
}

@media(min-width: 600px) {
    .works1_container {
        width: 264.78px;
        height: 320.01px;
    }
}

@media(min-width: 835px) {
    .works1_container {
        width: 370px;
        height: 444px;
    }
}


.works3__container {
    display: none;
}

@media(min-width: 600px) {
    .works3__container {
        display: block;
    }
}

@media(min-width: 600px) {
    .works {
        /*max-width: 246.89px;*/
        aspect-ratio: 246.89 / 156;

    }
}

@media(min-width: 835px) {
    .works {
        width: 345px;
    }
}

@media(min-width: 600px) {
    .works-img_contents {
        display: grid;
        max-width: 500.86px;
        height: 320.01px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr1 1fr;
        gap: 2%;

        align-content: space-between;
    }
}

@media(min-width: 835px) {
    .works-img_contents {
        max-width: 699.9px;
    }
}

.yellow_container {
    position: absolute;
    display: flex;
    bottom: 5%;
    left: 5%;
    padding: 0%;
    width: 89vw;
    justify-content: center;
    z-index: 10;
}

@media(min-width: 600px) {
    .yellow_container {
        display: none;
    }
}

.company__section {
    width: 100%;
    padding: 0;
}

.company-visual {
    padding: 0 3%;
}

@media(min-width: 600px) {
    .company-visual {
        display: flex;
        gap: 3%;
        margin: 0 auto;
        justify-content: center;
        padding: 0%;
        width: 100%;
        overflow: hidden;
    }
}

@media(min-width: 600px) {
    .company-img__container {
        width: 44%;
    }
}

@media(min-width: 835px) {
    .company-img__container {
        width: 38%;
    }
}

@media(min-width: 600px) {
    .company-contents {
        width: 44%;
    }
}

@media(min-width: 835px) {
    .company-contents {
        width: 33%;
    }
}

.section-sub__title-c {
    text-align: start;
    font-weight: 500;
    font-size: 28px;
}

@media(min-width: 600px) {
    .section-sub__title-c {
        font-size: 32px;
        margin-top: 0%;
    }
}

.section__text-c {
    text-align: start;
    margin: 0%;
}

.access__container {
    display: flex;
    margin: 10% 20%;
    flex-direction: column;
    align-content: space-between;
    width: 58vw;
    height: auto;
    gap: 20%;
}

.company-access_container {
    padding: 5% 30%;

    text-align: center;

    border-width: 1px;
    border-style: solid;

}

.company-access {
    color: #55504A;
    font-size: 18px;
    font-weight: 500;
}

.arrow {
    content: "";
    color: #55504A;
    border-width: 1px;

    padding: 0 16%;
}


.contact__section {
    position: relative;
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.contact-section__img {
    width: 100%;
    aspect-ratio: 375 / 547;
}

.section__title-c {
    position: absolute;
    top: 8.8%;
    left: 3%;
}

.contact-visual {
    position: relative;
    width: 100%;

}

.contact-img {
    aspect-ratio: 375 /547;
}

@media(min-width: 600px) {
    .contact-img {
        aspect-ratio: 834 / 631;
    }
}

@media(min-width: 835px) {
    .contact-img {
        aspect-ratio: 1440 / 631;
    }
}

.contact__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    aspect-ratio: 335 / 349;
    margin: 0 3%;
    height: auto;
    background: rgba(255, 255, 255, 0.7);
    top: 25%;

    align-items: center;

}

@media(min-width: 600px) {
    .contact__container {
        aspect-ratio: 600 / 284;
        width: 72vw;
        top: 38%;
    }
}

@media(min-width: 835px) {
    .contact__container {
        width: 41vw;
        top: 40%;
    }
}

.sub-title-con {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 18%;
    text-align: center;

}

@media(min-width: 600px) {
    .sub-title-con {
        font-size: 36px;
    }
}

.text-con__container {
    margin: 0 5%;
    margin-bottom: 5%;
    padding: 0 3%;
}

@media(min-width: 600px) {
    .text-con__container {
        margin-bottom: 2%;
    }
}

.text-con {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.button-inquiry__container {
    width: 58vw;
    aspect-ratio: 220 / 47;
    background-color: #55504A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.button-inquiry {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}